---
layout: default
title: Home
---

<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
<h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
<p class="author">
  <span class="date">{{ post.date | date: '%d %B, %Y' }}</span>
</p>
<div class="content">
  {{ post.content }}
</div>
{% endfor %}

<!-- Pagination links -->
{% if paginator.posts > 1 %}
<div class="pagination">
    <div class="flex flex--center">
        <div class="flex-item text--left">
          {% if paginator.posts > 1 %}
            {% if paginator.previous_page %}
              <a href="{{ paginator.previous_page_path }}" class="btn btn--primary">Previous</a>
            {% else %}
              <a class="btn btn--primary btn--disabled ">Prev</a>
            {% endif %}
        </div>

        <div class="flex-item text--center">
            <span class="page_number">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
        </div>

        <div class="flex-item text--right">
            {% if paginator.next_page %}
              <a href="{{ paginator.next_page_path }}" class="btn  btn--primary">Next</a>
            {% else %}

              <a class="btn btn--primary btn--disabled ">Next</a>
            {% endif %}
        </div>
    </div>
</div>
{% endif %}

