<div class="custom-social-buttons">
    Share this on &rarr;
    <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook">Facebook</a>
    <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Google+">Google+</a>
</div>
<div class="custom-social-buttons">	
	<div class="share-buttons-label">
		<span>GOGOGO! MOR! Share this on &rarr;</span>
	</div>
	<div class="custom-social-button twitter">
        ![](/public/twitter.png?raw=true)
        <a id="twitter-link" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter">Twitter</a>
	</div>
	<div class="custom-social-button linkedin">
		<a id="linkedin-link" href="#"><i class="socicon-linkedin"></i></a>
	</div>
	<div class="custom-social-button googleplus">
		<a id="googleplus-link" href="#"><i class="socicon-gplus"></i></a>
	</div>
</div>